@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<button onclick="clicked(12)" class="btn btn-primary">کلیک کنید</button>

@section Scripts {
    <script src="~/Pages/Privacy.cshtml.js"></script>
}